*.a
*.ko
*.la
*.lib
*.lo
*.o
*.obj
*.sw[a-z]
*.tar.gz
*~
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
flow-table-hairpind/flow-table-hairpind
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
